/* brown: #8F5429 */
/* blue: #27353E */
/* gray: #F1F0EF */
/* pink: #E0D2D0 */

i {
    color: #F1F0EF;
}

body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    color: white;
}

.body {
    display: flex;
}

.body-half {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#body-one {
    font-family: 'La Belle Aurore', cursive;
    line-height: 1rem;
    color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border: 1px solid #F1F0EF;
    margin: 10px 10px 10px 0;
}

.title-container {
    text-shadow: 2px 2px white;
}

#body-one h1 {
    font-size: 3.25rem;
}

#body-one h2 {
    font-size: 1.75rem;
}

#body-two {
    display: flex;
    flex-wrap: wrap;
    color: #F1F0EF;
    background-color: #27353E;
    background-attachment: scroll;
    height: 75vh;
    border: 1px solid #F1F0EF;
    margin: 10px;
}

#body-two-heading-container {
    display: flex;
}

.body-two-heading {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#body-two-title {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#body-two-title h1 {
    text-align: center;
    font-family: 'La Belle Aurore', cursive;
    font-weight: 300;
    font-size: 3rem;
}

.body-two-subtitle {
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.body-two-paragraph {
    text-align: center;
    width: 100%;
}

.body-two-cursive {
    text-align: center;
    width: 100%;
    font-family: 'La Belle Aurore', cursive;
    font-size: 1.5rem;
}

.cursive {
    font-family: 'La Belle Aurore', cursive;
    font-size: 1.5rem;
}

#guest-list-container {
    width: 100%;
    display: flex;
}

#dish-list-container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.guest-list-column {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.nav-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #8F5429;
    color: #F1F0EF;
}

.nav-body h2{
    font-family: 'La Belle Aurore', cursive;
    font-weight: 100;
    margin-left: 1rem;
}

.nav-body h3 {
    font-size: 1rem;
    margin-right: 1rem;
}

.nav-body-half {
    display: flex;
    align-items: center;
}

.link:hover {
    color: #E0D2D0;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    background-color: #E0D2D0;
    color: #222222;
    font-size: .75rem;
}

#footer i {
    margin: 0 .25rem;
}

.image {
    display: flex;
    justify-content: center;
}

.page-container {
    background-color: #27353E;
    margin: none;
    padding: 2rem;
    height: auto;
}

.page-title {
    font-family: 'La Belle Aurore', cursive;
    font-size: 3.25rem;
    text-align: center;
}

/* Media Queries */

@media (max-width: 1024px) {
    .link {
        margin-left: 1rem;
    }
    .nav-body {
        flex-direction: column;
        align-items: flex-start;
        line-height: 10px;
        width: 100%;
    }
    .body {
        flex-wrap: wrap;
    }
    .body-half {
        width: 100%;
    }
    .body-two-paragraph {
        display: none;
    }
    #body-one {
        text-align: center;
        line-height: normal;
    }
    #body-two {
        height: auto;
    }
    #guest-list {
        height: 100vh;
        background-image: none !important;
    }
    .guest-list-column {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
    }
    .guest-list-column p {
        font-size: 1rem;
    }
    .page-container {
        height: auto;
    }
}
