body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    color: #735147;
}

.body {
    display: flex;
    flex-wrap: wrap;
}

.body-half {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#body-one {
    font-family: 'La Belle Aurore', cursive;
    text-shadow: 2px 2px #ffff;
    line-height: 1rem;
    color: #666977;
    background-image: url("https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1734&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#body-one h1 {
    font-size: 3.25rem;
}

#body-one h2 {
    font-size: 1.75rem;
}

#body-two {
    display: flex;
    flex-wrap: wrap;
    color: #735147;
    background-color: #8aa48b;
    background-attachment: scroll;
    height: 75vh;
}

#body-two-heading-container {
    display: flex;
}

.body-two-heading {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#body-two-title {
    width: 100%;
    background-image: url("./bw-turkey.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#body-two-title h1 {
    text-align: center;
    font-family: 'La Belle Aurore', cursive;
    font-weight: 300;
    font-size: 3rem;
    text-shadow: 2px 2px #ffff;
}

.body-two-subtitle {
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.body-two-paragraph {
    text-align: center;
    width: 100%;
}

.body-two-cursive {
    text-align: center;
    width: 100%;
    font-family: 'La Belle Aurore', cursive;
    font-size: 1.5rem;
}

#guest-list-container {
    width: 100%;
    display: flex;
}

.guest-list-column {
    display: flex;
    flex-direction: column;
}

.nav-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f79259;
    color: white;
}

.nav-body h2{
    font-family: 'La Belle Aurore', cursive;
    font-weight: 100;
    margin-left: 1rem;
}

.nav-body h3 {
    font-size: 1rem;
    margin-right: 1rem;
}

.nav-body-half {
    display: flex;
    align-items: center;
}

.link:hover {
    color: #8aa48b;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    background-color: #666977;
    color: white;
    font-size: .75rem;
}

#footer i {
    margin: 0 .25rem;
}

.page-container {
    background-color: #8aa48b;
    margin: none;
    padding: 2rem;
    height: 75vh;
    background-image: url("./bw-turkey.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto;
}

.page-title {
    font-family: 'La Belle Aurore', cursive;
    text-shadow: 2px 2px #ffff;
    font-size: 3.25rem;
    text-align: center;
}

/* Media Queries */

@media (max-width: 1024px) {
    .link {
        margin-left: 1rem;
    }
    .nav-body {
        line-height: 10px;
        width: 100%;
    }
    .body-half {
        width: 100%;
    }
    .body-two-paragraph {
        display: none;
    }
    #body-one {
        text-align: center;
        line-height: normal;
    }
    #guest-list {
        height: 100vh;
        background-image: none !important;
    }
    .guest-list-column {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
    }
    .guest-list-column p {
        font-size: 1rem;
    }
  }
